/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/img
/public/fonts
/public/images
/public/element-theme
/public/*.js
/public/*.json
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
